body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.header {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-weight: bold;
  font-size: 70px;
}
.header p {
  font-size: 18px;
}
h2 {
  font-size: 32px;
  font-weight: bold;
}
h3 {
  font-size: 23px;
  font-weight: bold;
}

p {
  font-size: 14px;
}

#designed_in_nyc {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
}
.footer {
  background-color: dimgray;
  font-size: 11px;
  text-align: left;
  color: white;
}
