body {
  text-align: center;
  font-family: Helvetica, sans-serif;
}
.header {
  background-image: url("../images/the-flatiron-building.png");
  color: white;
  font-weight: bold;
  font-size: 70px;
}
.header p {
  font-size: 18px;
}
#process h2 {
  font-size: 32px;
  font-weight: bold;
}
#process h3 {
  font-size: 23px;
  font-weight: bold;
}

#process {
  font-size: 14px;
}
